*

!.gitignore
!generate_species_target_predictions
!miRhub.pl
!Affy-mmu-miR-probes.txt
!NetworkScoring.docx
!README.md
!all_miRs.txt
!betamiR_cons_leve2.txt
!convertAffy2miRfamily.pl
!convertMirbase2miRfamily.pl
!mir_cons_level2.txt
!old_README
!summary.pl
